---
import Section from '../components/Section.astro';
---

<div>
    <Section title="About Me">
        <div class="flex flex-col md:flex-row">
            <div class="mr-10 min-w-3xl">
                I am a passionate Machine Learning Engineer with a particular interest in
                developing MLOps pipelines. When I have time, I enjoy developing web apps
                using modern front end frameworks. I am also an
                avid reader of fiction, fantasy and travel books!
            </div>
            <div >
                <img class="rounded-xl bg-green-300" src="images/avatar1.png"/>
            </div>
        </div>
        
    </Section>
</div>