---
import Section from '../components/Section.astro';
---

<div>
    <Section title="About Me">
        <div class="flex flex-col md:flex-row">
            <div class="mr-10 min-w-3xl">
                I am a Machine Learning Engineer with a particular interest in
                developing Machine Learning pipelines. In my spare time, I enjoy catching
                up with the latest front end technologies to build my own web apps and APIs.
                I am also interested on the ethical issues surrounding AI and I am an avid
                reader of fiction, fantasy and travel books!
            </div>
            <div >
                <img class="rounded-xl bg-green-300" src="images/avatar1.png"/>
            </div>
        </div>
        
    </Section>
</div>