---
import Section from '../components/Section.astro';
---

<div>
    <Section title="About Me">
        <div class="mr-10">
        I am a passionate Machine Learning Engineer with a particular interest in
        developing MLOps pipelines to deliver models at large scale. When I have time, I
        also enjoy developing web apps using modern front end frameworks. I am also an
        avid reader of fiction, fantasy and travel books!
        </div>
        <div class="w-96">
            <img class="rounded-xl bg-amber-200" src="images/avatar1.png"/>
        </div>
    </Section>
</div>