---
import Section from "../components/Section.astro";
---

<div>
  <Section title="About Me">
    <div class="flex flex-col md:flex-row">
      <div class="mr-10 min-w-3xl">
        I like learning and building things. In another life I would have
        probably been a carpetenter, which feels like programming but using wood
        instead. I have worked as a data platform engineer, machine learning
        engineer and data science. I love reading anything that's good (except
        for crime, no thanks). My favorite color is green.
      </div>
      <div>
        <img class="rounded-xl bg-green-300" src="images/avatar1.png" />
      </div>
    </div>
  </Section>
</div>
