---
import dayjs from 'dayjs'
export interface Props {
  post: any;
}
const { post } = Astro.props;
---

<a href={post.url}
  class="w-80 h-full block relative top-0 shadow-lg bg-white rounded-xl overflow-hidden"
  data-test="article-card">

  <div class="h-52 bg-cover bg-center squiggle" style={`background-image: url('${post.postImage}')`} />
  <div class="py-6 px-8">
    <h2 class="font-bold text-2xl leading-tight">
      {post.title}
    </h2>
    <p class="text-xs text-gray-600 mt-4 flex items-center">
      {dayjs(post.pubDate).format('MM-DD-YYYY')}
    </p>
  </div>
</a>