---
import Tag from './Tag.astro';
import Section from '../components/Section.astro';
import BlogPostCard from './BlogPostCard.astro';

export interface Props {
	postList: Record<string, any>[]
}

const { postList } = Astro.props;
---

<div class="mx-auto px-10 py-5 max-w-7xl">
    <div class="flex flex-col grow">
        <div class="flex justify-center md:m-12">
            <h1 class="text-3xl font-bold">Articles</h1>
        </div>
        <div class="flex flex-wrap justify-center">
            {
                postList.map((p) => (
                    <BlogPostCard post={p}/>
                ))
            }
        </div>
    </div>
</div>