---
---

<!-- Make a sticky button at the right of the page -->
<div class="fixed bottom-0 right-0 z-50 mb-2 md:pr-40 md:bottom-24">
    <a
        href="https://buymeacoffee-dapp.netlify.app/"
        target="_blank"
        class="sticky"
    >
        <img
            class="w-16 md:w-24"
            src="images/coffee-cup.png"
            alt="Buy Me A Coffee"
        />
    </a>
</div>
