---
---

<!-- Make a sticky button at the right of the page -->
<div
    class="fixed bottom-0 right-0 z-40 xl:right-60 xl:bottom-6 hover:-rotate-45"
>
    <a
        href="https://buymeacoffee-dapp.netlify.app/"
        target="_blank"
        class="sticky"
    >
        <img
            class="w-16 md:w-22"
            src="images/coffee-cup.png"
            alt="Buy Me A Coffee"
        />
    </a>
</div>
