---
import Section from '../components/Section.astro';
import Experience from '../components/Experience.astro';
---
<div>
    <Section title="Experience">
        <ul>
            <Experience 
                role="Machine Learning Engineer"
                company="Zonda Satellite"
                logo="images/zonda-logo.png"
                body={
                    `Built an end-to-end MLOps pipeline to support deploying multiple models
                    for a different projects. I also researched trained and deployed multiple models to
                    production for a unique problem space. Finally, I continously pushed to improve and
                    refactor the existing codebase to use best engineering practices.`
                }
                startDate="Nov 2020"
            />
            <Experience 
                role="Data Scientist"
                company="UserTesting"
                logo="images/usertesting-logo.png"
                body={
                    `Built an end-to-end MLOps pipeline to support deploying multiple models
                    for a different projects. I also researched trained and deployed multiple models to
                    production for a unique problem space. Finally, I continously pushed to improve and
                    refactor the existing codebase to use best engineering practices.`
                }
                startDate="Jun 2020"
                endDate="Aug 2020"
            />
            <Experience 
                role="Multiple Experiences"
                company="Life"
                logo="images/backpack-logo.png"
                body={
                    `During this period of time I travelled to Scotland where I worked full time as a chef 
                    and then as a lifeguard and learned programming in my spare time. Through a series 
                    of online courses I learned front-end development and progressed to 
                    machine learning & deep learning. During this time I also participated in the 
                    Mongol Rally, the longest charity rally in the world. We raised £1k for charity
                    APIC Pandora.`
                }
                startDate="Sep 2016"
                endDate="Mar 2020"
            />
            <Experience 
                role="Sales Executive"
                company="Mygon"
                logo="images/mygon-logo.png"
                body={
                    `As part of the sales team, I was involved in the growth of the spanish branch of the
                    company. My tasks included: 1. Prospecting clients to create new sale opportunities;
                    2. Keeping track of current and potential clients; 3. Delivering succesful sales.`
                }
                startDate="Sep 2015"
                endDate="Mar 2016"
            />
        </ul>
    </Section>
    
</div>