---
import Section from '../components/Section.astro';
import Experience from '../components/Experience.astro';
---
<div>
    <Section title="Experience">
        <ul>
            <Experience 
                role="Machine Learning Engineer"
                company="Zonda Satellite"
                logo="images/zonda-logo.png"
                body={
                    `Built an end-to-end MLOps pipeline in AWS using IaC to enable the multiple ML teams
                    to perform data ingestion, model versioning, model deployment and monitoring. I have
                    also trained multiple models using Pytorch and scikit learn, including a model to track
                    construction activity that has drastically increased the daily amount of insights
                    collected by the research team on a quarterly basis. Finally, I've continuously pushed
                    for best engineering practices on the testing and observability of our models
                    and pipelines.
                    `
                }
                startDate="Nov 2020"
                skills={["Python", "RDS", "NoSQL", "AWS", "IaC", "MLOps", "Data Science", "Computer Vision", "Testing", "Airflow"]}
            />
            <Experience 
                role="Data Scientist"
                company="UserTesting"
                logo="images/usertesting-logo.png"
                body={
                    `I developed an unsupervised learning model using NLP embeddings with scikit learn
                    to detect participants who answered screener questions inconsistently. To deploy this model
                    I built a web interface using Flask with React & Redux to enable the Q&A to interact with the model
                    to detect fraudulent users.`
                }
                startDate="Jun 2020"
                endDate="Aug 2020"
                skills={["Python", "Data Science", "Unsupervised Learning", "React", "NLP"]}
            />
            <Experience 
                role="Multiple Experiences"
                company="Life"
                logo="images/backpack-logo.png"
                body={
                    `During this period of time I travelled to Scotland where I worked full time as a chef 
                    and a lifeguard while learned programming in my spare time. Through a series 
                    of online courses and personal projects I learned front-end development and progressed to 
                    machine learning & deep learning. During this time I also participated in the 
                    Mongol Rally, the longest charity rally in the world. We raised £1k for charity
                    APIC Pandora.`
                }
                startDate="Sep 2016"
                endDate="Sep 2019"
                skills={["Learning", "Software Development", "Work Under Pressure", "Enterpreneurship", "Communication"]}
            />
            <Experience 
                role="Sales Executive"
                company="Mygon"
                logo="images/mygon-logo.png"
                body={
                    `As part of the sales team, I was involved in the growth of the spanish branch of the
                    company. My tasks included: Prospecting clients to create new sale opportunities; 
                    Keeping track of current and potential clients; Delivering succesful sales.`
                }
                startDate="Sep 2015"
                endDate="Mar 2016"
                skills={["sales", "communication", "goal driven", "building relationships"]}
            />
        </ul>
    </Section>
    
</div>