---
import Section from "../components/Section.astro";
import Project from "./Project.astro";
---

<div>
  <Section title="Project Showcase">
    <div class="flex flex-wrap justify-center">
      <Project
        title="Reinforcement Learning V2"
        description="Rebuilt my reinforcement learning project to be up to date"
        href="https://github.com/wanderdust/reinforcement-learning/tree/main"
        image="/images/frozen-lake.png"
        tags={["Reinforcement Learning", "Classical AI", "Q-Networks"]}
      />

      <Project
        title="Enhancing Alana for Eldery care"
        description="A voice assistant designed to assist eldery people"
        href="https://www.youtube.com/watch?v=v1hP3YWwvIs"
        image="/images/SU.png"
        tags={["NLP", "Furhat", "Chatbot", "Interaction"]}
      />
      <Project
        title="Playing Space invaders with Reinforcement Learning"
        description="An agent learns to play space invaders from image inputs."
        href="https://github.com/wanderdust/ML_nanodegree_udacity/blob/master/projects/capstone_project/report.pdf"
        image="/images/space-invaders.gif"
        tags={["Reinforcement Learning", "Deep Q-Network", "Pytorch"]}
      />
      <Project
        title="Don Quijote Bot"
        description="A telegram bot that (almost) speaks like Don Quijote de la Mancha."
        href="https://github.com/wanderdust/don-quijote-bot"
        image="/images/bot-quijote.png"
        tags={["NLP", "LSTM", "Telegram Bot"]}
      />
      <Project
        title="Mongol Rally"
        description="Participated in the Mongol Rally where we raised £1k for charity."
        href="https://www.youtube.com/watch?v=unkb7_9e-EM"
        image="/images/mongol-rally-logo.png"
        tags={["Charity", "Enterpreneurship", "Sales", "Travel"]}
      />
    </div>
  </Section>
</div>
