---
import Section from '../components/Section.astro';
import Project from './Project.astro';
---
<div>
    <Section title="Projects">
        <ul>
            <Project
                title="Some Project"
                description="Some project description"
                href="#"
                image="https://www.placecage.com/c/300/300"
            />
            <Project
                title="Some Project"
                description="Some project description"
                href="#"
                image="https://www.placecage.com/c/300/300"
            />
        </ul>
    </Section>
</div>