---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="md:container md:mx-auto px-40 flex-wrap">
    <p class="text-2xl font-semibold py-10">{title}</p>
    <div class="flex flex-row/">
        <slot />
    </div>
</div>